/* Hero Section Styling */
.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
  z-index: 1;
  font-family: 'Playfair Display', serif; /* Classic serif font */
  letter-spacing: 5px; /* Space between letters */
  font-size: 48px; /* Large font size */
  font-weight: 700; /* Bold text */
  color: #333; /* Dark grey color */
  text-transform: uppercase; 
  /* Make all letters uppercase */
}

.hero h2 {
  /* font-size: 2rem;
  margin-bottom: 20px;
  color: #bbb; */
  font-family: 'Playfair Display', serif; /* Classic serif font */
  letter-spacing: 5px; /* Space between letters */
  font-size: 48px; /* Large font size */
  font-weight: 700; /* Bold text */
  color: #333; /* Dark grey color */
  text-transform: uppercase; 
  /* Make all letters uppercase */
  margin: 20px 0;
}

.hero-image-container {
  width: 100%;
  height: 100vh; /* Full screen height */
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure full image visibility without cropping */
}

/* Call-to-Action Styling */
.cta {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #222;
}

.cta button {
  background-color: #56ab2f;
  color: white;
  font-size: 1.5rem;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cta button:hover {
  background-color: #4c9e28;
  transform: scale(1.05);
}

.cta button:focus {
  outline: none;
}

.cta button:active {
  transform: scale(0.98);
}

/* Responsive Adjustments for Tablet and Mobile Screens */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero h2 {
    font-size: 1.75rem;
  }

  .cta button {
    font-size: 1.2rem;
    padding: 12px 24px;
  }
}

@media (max-width: 480px) {
  .hero-image-container {
    height: auto; /* Allow the image to adjust naturally */
    max-height: 50vh; /* Limit height for small screens */
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero h2 {
    font-size: 1.5rem;
  }

  .cta {
    padding: 10px 0;
  }

  .cta button {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 30px;
  }
}
